<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">

	<title> Primos Móveis </title>

	<!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/css.css">
	<script type="text/javascript" src="../../javascript/javascript.js"></script>

    <script>      

        function novoChamado(){
        	document.getElementById("aberturaChamado").style.visibility = "visible";
        	document.getElementById("section").style.display = "none";
        	document.getElementById("section1").style.display = "none";
        }

        function voltaNovoChamado(){
			window.location.href = "Agendar_Suporte.html";
        }

        function acompanhamentoChamado(){
        	document.getElementById("section").style.display = "none";
			document.getElementById("section1").style.visibility = "visible";
        }

        function limpar(){
        	document.getElementById("movel").value = "";
        	document.getElementById("TipoDaOcorrencia").value = "";
        	document.getElementById("textArea").value = "";
        }

    </script>
</head>

<body style="overflow: auto;">
    <form id="form1">
    	<div id="full">

    	 	<nav id="menu">
            	<ul>
                	<li><a href="#"> Primos Móveis </a></li>    

                	<li class="float-right"><a href="#" onclick="voltaNovoChamado()"> Voltar </a></li>   
            	</ul>
     	    </nav>
		
			 <!-- Menu lateral -->
			 <div id="mySidenav" class="sidenav">

					<a class="title-sidnav simple-text" style="background-color: transparent; font-size: 22px !important;padding-top: 10px; border: none!important;">Menu</a>
	
					<a href="javascript:void(0)" 
						class="closebtn" 
						onclick="closeNav()" 
					   style="background-color: transparent;padding-top: 30px;border:none !important;">&times;
					</a>
	
				   <hr />
			 
				
				<ul>
					<li>
						<a href="Inicial_Cliente.html"><i class="fa fa-users"></i>Página Inicial</a>
	
						<a href="../Login.html"><i class="fa fa-users"></i>Sair</a>
					</li>
				</ul>
			</div>
	
			<div id="main" class="no-gutters row" style="margin-top: -5vh;">
				<div class="col-md-6 flex-column">
					<span style="font-size: 30px; cursor: pointer; color: #D0A23C !important;" onclick="openNav()">&#9776;</span>
				</div>
			</div>
			<!-- Menu lateral -->
		
	    <div class="container-fluid">

	    	<section class="row no-gutters" style="padding-top: 50px" id="section">

	    		<div class="col-md-3 offset-md-2 divs" onclick="novoChamado()">
	    			<h3 href="" class="text-center" style="color:white"> Novo Chamado </h3>

	    			<img src="../../Imagens/chamados.png" style="width: 54%; margin-left: 23%;margin-top: -2%;"/>
	    		</div>
	    	
	   			<div class="col-md-3 offset-md-2 divs" onclick="acompanhamentoChamado()">
	     			<h3 class="text-center" style="color:white"> Acompanhamento de Chamados </h3>

	     			<img src="../../Imagens/acompanhamento.png" style="width: 50%; margin-left: 25%;" class="img-responsive"/>
	    		</div>

	   		</section>

	      
	      <section class="row no-gutters"  id="aberturaChamado" style="visibility:hidden" >
	    	<div class="col-md-6 offset-md-3">

	    		<h1 class="text-center text-secondary"> Abertura de Chamados </h1>

	    		<div class="form-group">
	    			<label for="movel" class="labelTitulo">Móvel</label>
	    			<select class="form-control" id="movel">
	    				<option>
	    					Criado Mudo X
	    				</option>
	    				<option>
	    					Guarda-Roupas Y
	    				</option>
	    			</select>
	    		</div>

	    		<div class="form-group">
	    			<label for="TipoDaOcorrencia" class="labelTitulo">Tipo da Ocorrência</label>
	    			<select class="form-control" id="TipoDaOcorrencia">
	    				<option>
	    					Defeito de Fábrica
	    				</option>
	    				<option>
	    					Uso de Garantia
	    				</option>
	    			</select>
	    		</div>

	    		<div class="form-group">
	    			<label for="textArea" class="labelTitulo">Tipo da Ocorrência</label>
	    			<textarea class="form-control" style="width: 100%; min-height: 200px; max-height: 350px" id="textArea">	    				
	    			</textarea>
	    		</div>

	    		<input type="button" name="Confirmar" value="Confirmar" onclick=" painelDiario()" class="btn-info btn float-left" />
                <input type="button" name="Limpar" value="Limpar" onclick=" limpar()" class="btn-danger btn float-right" />

	    	</div>
	    </section>

	    <section id="section1"  style="visibility:hidden;margin-top: -70vh" >
	    	<div class="col-md-8 offset-md-2">

				<h1 class="text-center"> Acompanhamento de Chamados </h1>
	    		<table class="table table-hover table-bordered ">
		    		<thead>
		    			<tr class="text-info text-center">
			    			<th style='border-right: 1px solid lightgray'> Móvel </th>
			    			<th style='border-right: 1px solid lightgray'> Endereço </th>
			    			<th style='border-right: 1px solid lightgray'> Data Agendada </th>
			    			<th style='border-right: 1px solid lightgray'> Descrição </th>
		    			</tr>
		    		</thead>

		    		<tbody class="text-warning">
		    			<tr>
		    				<th class='text-left'> Criado Mudo X </th>
		    				<th class='text-center'> Rua Pernambucana </th>
		    				<th class='text-center'> 02/02/2020 </th>
		    				<th class='text-center'> Pintura </th>
		    			</tr>
		    			<tr>
		    				<th class='text-left'> Guarda Roupa Y </th>
		    				<th class='text-center'> Rua Alagoana </th>
		    				<th class='text-center'> 02/02/2020 </th>
		    				<th class='text-center'> Reparo na Gaveta </th>
		    			</tr>
		    			<tr>
		    				<th class='text-left'> Guarda Roupa Y </th>
		    				<th class='text-center'> Rua Lambucana </th>
		    				<th class='text-center'> 02/02/2020 </th>
		    				<th class='text-center'> Trilhos da porta </th>
		    			</tr>
		    		</tbody>
		    	</table>

	    	</div>
	    </section>

	    </div>

    	</div>
    </form>
</body>
</html>