{% if current_user.is_authenticated %}

<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">

	<title> Cadastro de Funcionários </title>

	<!-- bootstrap -->


	<link rel="stylesheet" href="{{ url_for('static', filename='../static/bootstrap/css/bootstrap.min.css')  }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/CadastroClientes.css') }}"> 
	<script language="javascript" src="{{ url_for('static', filename='../static/js/valida_CadastroFuncionario.js') }}"></script> 

    
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "0px";
            document.getElementById("full").style.marginLeft = "250px";

            document.getElementById("mySidenav").style.transition = "0.1s";
            document.getElementById("main").style.transition = "0.1s";
            document.getElementById("full").style.transition = "0.1s";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("full").style.marginLeft = "0px";
        }

		function redirectVendas(){
			window.location.href = "Vendas/CadastroVendas.html";
		}		

        function limpar(){
        	document.getElementById("cpfCliente").value = "";
        	document.getElementById("nome").value = "";
        	document.getElementById("dataNascimento").value = "";
            document.getElementById("Telefone").value = "";
            document.getElementById("Email").value = "";
            document.getElementById("endereco").value = "";
        }
    </script>


</head>
<body>

    <form action="/funcionarios" method="POST" onsubmit="return valida_CadastroFuncionario()">
   	<div id="full">

		<nav id="menu">
			<ul> <!-- ../Templates [Última versão]/Logo_PrimosMoveis.png -->
				<img src="../static/img/Logo_PrimosMoveis.png" height="80px" width="240px" style="margin-left: 60px">  
				<!-- <li class="float-right"><a href="#" onclick="voltaNovoChamado()"> Voltar </a></li>   -->
				<a href="CadastroVendas.html"><li><img class="float-right" style="width: 40px; height: 40px; margin-right: 20px" src="../static/img/back.png"></li></a>
			</ul>
		</nav>
		<!-- Fim da Logo no TOPO -->
			
	</div>    

		<!-- FINAL DO Campo menuzin abaixo da logo -->
	
		<!-- Menu lateral -->
		<div id="mySidenav" class="sidenav">
			<a class="title-sidnav simple-text" style="background-color: transparent; padding-top: 10px; border: none!important;">Menu</a>
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="background-color: transparent;padding-top: 30px;border:none !important;">&times;</a>

	        <ul>
				<li>
					<a href="#"><i class=""></i>• Pagina Inicial</a>
					<a href="http://localhost:5000"><i class=""></i>• Cadastro Clientes</a>
					<a href="http://localhost:5000/cadastroVendas"><i class=""></i>• Cadastro de Vendas</a>
					<a href="http://localhost:5000/cadastroFuncionarios"><i class=""></i>• Cadastro de Funcionários</a>
					<a href="http://localhost:5000/feedback"><i class=""></i>• Feedback</a>
					<a href="http://localhost:5000/agendarSuporte"><i class=""></i>• Agendar Suporte</a>	
					<a href="{{ url_for('logout') }}"><i class=""></i>• Sair</a>
				</li>
			</ul>
		</div>
	
		<div id="main" class="no-gutters row" style="margin-top: -20px;">
			<div class="col-md-6 flex-column">
				<span style="font-size: 30px; cursor: pointer; color: rgb(255, 255, 255) !important;" onclick="openNav()">&#9776;</span>
			</div>
		</div>
		<!-- Menu lateral -->

		<section class="row no-gutters" style="padding-top: -100px">			
	    	<div class="col-md-6 offset-md-3">

				<h1 class="text-center"  style="color: azure; font-size: 40px; margin-top: -60px;" > Cadastro de Funcionarios </h1>
				
                <div class="row">
					<div class="col-md-6">
						<label for="iNome" class="labelTitulo">Nome</label>
						<input type="text" name="iNome"  id="iNome" class="form-control" autocomplete="off" onkeyup="verificar_campo_str(this);" placeholder="Digite seu nome completo" maxlength="37" required/>
					
						<script>
							function verificar_campo_str(){
							var texto=document.getElementById("iNome").value;
							for (letra of texto){
								if (!isNaN(texto)){
									alert("Não digite números! 🤷");
									document.getElementById("iNome").value="";
									return;
								}
							
								letraspermitidas="ABCEDFGHIJKLMNOPQRSTUVXWYZ abcdefghijklmnopqrstuvxwyzáàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ"
								var ok=false;
								for (letra2 of letraspermitidas ){
									if (letra==letra2){
										ok=true;
									}
								}
								if (!ok){
									alert("Não digite caracteres que não sejam letras ou espaços");
									document.getElementById("iNome").value="";
									return; 
									}
								}
							}
						</script>
					
					
					</div>
					
                    <div class="col-md-6">
						<label for="nCpf" class="labelTitulo">CPF</label>
						<input type="text" name="nCpf" id="nCpf" class="form-control" autocomplete="off" onkeyup="ValidarNumeros_CPF(nCpf);" placeholder="000.000.000-00" maxlength="11"/>
						
						<script>
						
							function ValidarNumeros_CPF(num) {
        						var er = /[^0-9.]/;
        						er.lastIndex = 0;
        						var campo = num;
        						if (er.test(campo.value)) {
									alert("Digite apenas números! 🤷")  
									campo.value = "";
        							}
							}
						
						</script>
					
					
					</div>
				</div>            
				 
				<div class="row">
					<div class="col-md-6">
	    				<label for="dataNascimento" class="labelTitulo"> Data Nascimento</label>
	    				<input type="text" name="dataNascimento"  id="dataNascimento" class="form-control" autocomplete="off" onkeyup="Adicionar_BarraData('dataNascimento'); Validar_DataNascimento(this)"   placeholder="dd/mm/aaaa" maxlength="10" required/>
					
						<script>
							function Adicionar_BarraData(id){
								obj = document.getElementById(id);
								vl = obj.value;
								l = vl.toString().length;
								switch(l){
									case 2:
									obj.value = vl + "/";
									break;
									case 5:
										obj.value = vl + "/";
										break;
								}
							}

							function Validar_DataNascimento(num) {
        					var er = /[^0-9/]/;
        					er.lastIndex = 0;
        					var campo = num;
        					if (er.test(campo.value)) {
								alert("Digite apenas números! 🤷")  
								campo.value = "";
        						}	
							}					
						</script>		
					
					</div>

                    
					<div class="col-md-6">
						<label for="nMatricula" class="labelTitulo">Matrícula</label>
						<input type="text" name="nMatricula"  id="nMatricula" class="form-control" autocomplete="off" onkeyup="valida_numero(this)" placeholder="0000000" maxlength="7" required/>
					
						<script> 
						
							function valida_numero (num) {
									var er = /[^0-9-]/;
									er.lastIndex = 0;
									var campo = num;
									if (er.test(campo.value)) {
										alert("Digite apenas números! 🤷")  
										campo.value = "";
										}
									
								}
								
						</script>	

					</div>

				</div>	
				<div class="row">
					<div class="col-md-3">
						<label for="cCargo" class="labelTitulo">Cargo</label>
						<input type="text" name="cCargo"  id="cCargo" class="form-control" autocomplete="off" maxlength="" required />
					</div>
				</div>				

				<br>			

	    		<input type="submit" name="Confirmar" value="Confirmar" class="btn-info btn float-right" />
				<input type="button" name="Limpar" value="Limpar" onclick=" limpar()" class="btn-danger btn float-left" />

	    	</div>
	    </section>
		
    </form>
</body>
</html>

{% else %}
    <div>
        <h1>Visitante</h1>
        <p>Esste texto aparece caso você não esteja logado.</p>
    </div>
{% endif %}