<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      
    <title>Funcionario cadastrado com sucesso </title>
        
    <script type=text/javascript src="{{ url_for('static', filename='../static/js/noAutorized.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='../static/js/jquery-1.11.1.min.js') }}"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/bootstrap/css/bootstrap.min.css')  }}">   
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/noAutorized.css')  }}">   
      
    
  </head>
  <body>
      <section class="error_section">
        <p class="error_section_subtitle">Funcionario cadastrado com sucesso</p>
        <h1 class="error_title">
          <p>201</p>
          201
        </h1>
        <a href="http://localhost:5000/cadastroFuncionarios" class="btn">Voltar para  Home</a>
      </section>

  </body>
</html>
