<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro!</title>
  </head>
  <body>
    <p>{{ mensagem }}</p>
    <form action="/clientes" method="POST">

      <label  class="labelTitulo">CPF</label>
      <input type="text" id="nCpf" name="nCpf" autocomplete="off" /><br>
      <label  class="labelTitulo">Nome</label>
      <input type="text" id="iNome" name="iNome" autocomplete="off" /><br>
      <label  class="labelTitulo">Email</label>
      <input type="text" id="iEmail" name="iEmail" autocomplete="off" /><br>
      <label  class="labelTitulo">Data Nascimento</label>
      <input type="text" id="dataNascimento" name="dataNascimento" autocomplete="off" /><br>
      <label  class="labelTitulo">Data Cadastro</label>
      <input type="text" id="dataCadastro" name="dataCadastro" autocomplete="off" /><br>
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
